.carousel-inner img { 
    display: flex;
    width: 100%;
    flex-direction:column;
    align-items: center;}    
.carousel-caption {
    position:initial ;
    background-color: darkgray;
    display: inline-block;
    width: 1fr;
}
.carousel-item{
    height:100%;
}
.carrusel {
    display: flex;
    width: 100%;
    flex-direction:column;
    align-items: center;
    background-color: black;
}