.carousel-inner{
    width: 1000px;
}
.carousel-caption {
    position:initial ;
    background-color: map-get($colores , fondo );
    width: 1fr; p{
        color: map-get($colores,none);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.carrusel {
        background-color: map-get($colores, fondo );
}
.carousel-control-next-icon{
    color: map-get($colores , alert );
}
.carousel-control-prev-icon{
    color: map-get($colores , alert );

}
.carousel-item img {
        height: 350px;
        width: 100%;
    }