
.card-container {
    @include flex ( column,space-around,center)
}
.card{
    @include card (450px,px,px,);@include into(px,px);
    .card img {
        width: 1fr;
        display: flex;
        align-items: center;
};  .card-text p {
        width: 350px;
        margin: 20px;
        padding: 8px;
        text-align: justify;
}   
}
.card-container{
    @include flex(row,space-around,center);@include into(px,px); @include into( px,px);flex-wrap: wrap
}
.card-item  {
    @include card(450px,px,px,);@include into (px,px,);
    @include flex(column,center,center); img {
        width: 430px; p{
            width: 1fr
            text-align center
        }
    }
}
.logo-container{
    @include flex ( row,space-around,center);width: 1fr;padding:16px;margin: 8px; 
    .card-img-center img{
       width: 450px,
       height 350px,
    }
}
.carousel-inner img { 
    width: 100%;
    align-items: center;}    
.carousel-caption{
    position:initial ;
    background-color: darkgray;
    display: inline-block;
    width: 1fr;
}
.card-item:active{
    position:initial ;
    background-color: darkgray;
    display: flex;
    width: 1fr;
}
