.form {
    @include into(px,px)
}
.form-label   { 
    color: map-get($colores , none );
}
.form-check-label{
    color: map-get($colores, none );
}
.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around
}
.show img {
    height: 200px;
    width: 400px;
    margin: 10px;
}
.show p {
    display: flex;
    text-align: center;
    margin: 16px;
    padding: 20px;
    }
.maps iframe{
    height: 450px;
    width: 90%;
}