.grid-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
}
.row {
    display: flex;
    flex-direction: row-reverse;
    margin: 34px;;
    width: 100%;
    justify-content:start;
}

a img{
    display: flex;
    flex-direction: column;
    height: 100px;
    vertical-align: super;
    margin-top: 35px;
}
.col-3 img {
    height: 250px;
    display: flex;
    align-items: center;
    margin: 30px;
    margin-top: 80px;
}
.col {
    justify-items: center;
}
.grid-container-home{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    width: 100%;
}
.row-home{
    display:flex;
    flex-direction: row-reverse;
    margin: 20px;
    align-content: stretch;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

}
.col-5 {
    justify-content:left;
}
.row-items{
    display: flex;
}
.video{
    height: 80%;
    width: 80%; 
    align-content: center;
    margin-left: 44px;
    margin-top: 60x;
}
.redes{
    display: flex;
    align-content: center;
    h2{
        text-align: center;
    }
}
.row-redes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
    