.grid-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.row {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content:center;
}
.col-3-home img {
    display: flex;
    align-items:start;
    margin: 30px;
    margin-top: 80px;
}
.col {
    justify-items: center;
}
.grid-container-home{
    display: flex;
    justify-content:center;
    align-items: center;
    align-content: center;
    width: 100vw;
}
.row-home{
    display:flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
}
#logos {
    height: 80%;
}
.col-5 {
    justify-content:left;
}
.row-items{
    display: flex;
}
.video{
    height: 80%;
    width: 80%; 
    align-content: center;
    margin-left: 44px;
    margin-top: 60x;
}
.row-redes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 34px;
}
.col-2 img{
    height: 50px;
    flex-direction: row;
}
.redes{
    text-overflow: ellipsis;
    text-align:justify
}
#redes img {
    width: 20vw;
    height: 150px;
         
}