.grid-container{
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
}
.row {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    justify-content:start;
}
.col-3-home img {
    display: flex;
    align-items:start;
    margin: 30px;
    margin-top: 80px;
}
.col {
    justify-items: center;
}
.grid-container-home{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    width: 100%;
}
.row-home{
    display:flex;
    flex-direction: row-reverse;
    margin: 20px;
    align-content: stretch;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

}
.col-5 {
    justify-content:left;
}
.row-items{
    display: flex;
}
.video{
    height: 80%;
    width: 80%; 
    align-content: center;
    margin-left: 44px;
    margin-top: 60x;
}
.row-redes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 34px;
}
.col-2 img{
    height: 50px;
    flex-direction: row;
}
.redes{
    text-overflow: ellipsis;
    text-align:justify
}