@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Orbitron&family=Roboto+Serif:opsz@8..144&display=swap");
* {
  padding: 0;
  margin: 0;
}

* {
  overflow-x: hidden;
}

body {
  background-color: rgb(78, 86, 94);
}

/* netlify versel hosting para subir la pagina  */
@media (max-width: 836px) {
  body {
    background-image: url("../image/fondo.jpg");
    background-position: initial;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
  }
  .card {
    background-color: rgb(111, 116, 116);
  }
  .container-fluid {
    width: 100%;
  }
  .video {
    display: none;
  }
  body {
    flex-wrap: wrap;
  }
  .navbar {
    width: 100vw;
  }
  .carrusel {
    height: 200px;
  }
  .carrusel .carousel-inner {
    height: 190px;
    width: 100%;
  }
  .carrusel .carousel-inner .carousel-item {
    height: 188px;
  }
  .carrusel .carousel-inner img {
    height: 190px;
  }
  .grid-container-home {
    flex-direction: column;
  }
  .grid-container-home .row-home {
    flex-direction: column;
  }
  .grid-container-home .col-4-maps {
    width: 100%;
  }
  .grid-container-home .col-3-home {
    display: block;
    width: 80vw;
  }
  .grid-container-home .col-5-form {
    width: 100%;
  }
  .recomendados {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .eventos {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .eventos .col-6 {
    width: 100%;
  }
  .eventos .card-us {
    width: 100%;
  }
  .eventos .caption {
    background-color: white;
  }
  .col-3-us {
    height: 80px;
  }
  .container-grid {
    display: flex;
    flex-direction: column;
  }
  #accordion {
    width: 100%;
  }
  .col-8 {
    display: none;
  }
  #redes .col-6 {
    width: 100%;
    align-items: center;
  }
  #maps .maps {
    width: 100%;
  }
  .grid-container {
    display: flex;
    flex-wrap: wrap;
  }
  .row-redes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .col-img-form {
    width: 100%;
  }
  .row-home {
    flex-wrap: wrap;
  }
  #redes-base {
    display: flex;
    flex-direction: column;
  }
  a img {
    flex-direction: column;
    height: 50px;
    margin: 10px;
  }
  .col-img-form img {
    height: 150px;
    width: 100%;
  }
  .show img {
    width: 100%;
  }
}
@media (max-width: 737px) {
  .card {
    background-color: darkgray;
  }
}
@media (min-width: 837px) {
  .navbar {
    width: 100vw;
  }
  .navbar .nav {
    padding: 0 16px;
    align-content: end;
  }
}
.carrusel {
  width: 100vw;
}

.card {
  background-color: #ece2c6;
}

.grid-container-home {
  flex-direction: row;
}
.grid-container-home .col-4 {
  width: 100%;
}
.grid-container-home .col-3-home {
  display: flex;
}
.grid-container-home .col-5 {
  width: 100%;
}

.grid-container {
  flex-wrap: wrap;
}

.card-container {
  display: inline-block;
}

.recomendados {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#redes-base {
  display: flex;
  flex-direction: row;
  height: 300px;
}
#redes-base img {
  height: 90px;
}

.col-3-home img {
  height: 90px;
}

#maps .maps {
  width: 100%;
}

@media (hover) {
  .button:hover {
    color: black;
    background-color: #ece2c6;
  }
  .nav a :hover {
    color: black;
    background-color: #ece2c6;
  }
  .col-1 a {
    background-color: #ece2c6;
  }
}
.button {
  width: 120px;
  border: 1px solid black;
  border-radius: 6px;
  color: black;
  text-align: baseline;
  overflow: hidden;
}
.button .button:hover {
  color: black;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card {
  width: 450px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 16px;
  margin: 16px;
}
.card .card img {
  width: 80px;
  height: 100px;
  display: flex;
  align-items: center;
}
.card .card-body {
  width: 4400px;
  height: 440px;
}
.card .card-text {
  width: 330px;
  height: 330px;
}
.card p {
  width: 35px;
  margin: 20px;
  padding: 8px;
  text-align: justify;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  margin: 16px;
  padding: 16px;
  margin: 16px;
  flex-wrap: wrap;
}

.card-item {
  width: 200px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 16px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-color: lightgray;
}
.card-item img {
  width: 150px;
  height: 150px;
}
.card-item p {
  width: 100px;
  align-items: center;
  justify-content: left;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 1fr;
  padding: 16px;
  margin: 8px;
}
.logo-container .card-img-center img {
  width: 450px, height 350px;
}

.card-item:active {
  position: initial;
  background-color: lightgray;
  display: flex;
  width: 1px;
}

.recomendados {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.recomendados p {
  margin: 0%;
}

.eventos {
  display: flex;
  place-items: center;
  padding: 10px;
  margin: 24px;
}
.eventos .card-us {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.eventos .card-us img {
  height: 320px;
  width: 100%;
}
.eventos .caption {
  margin: 16px;
  padding: 16px;
}

.navbar {
  flex-wrap: wrap;
}

.container-fluid {
  background-color: darkgray;
  color: #ece2c6;
  border-radius: 5px;
  border: 1px groove rgb(179, 180, 181);
}
.container-fluid .navbar-toggler {
  flex-basis: 20%;
  background-color: #ece2c6;
}
.container-fluid .navbar-toggler-icon {
  color: rgba(0, 0, 0, 0);
}
.container-fluid .navbar-logo {
  flex-basis: 70%;
}
.container-fluid .navbar-logo img {
  width: 40px;
  height: 40px;
}
.container-fluid .navbar-logo p {
  color: #ece2c6;
  text-align: center;
  display: inline-block;
  margin: 10px;
  font-weight: bolder;
  text-align: center;
  font-size: 32px;
}

a.nav {
  color: antiquewhite;
  text-decoration: none;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
}

h1 {
  color: #ece2c6;
  font-style: oblique;
  font-size: 45px;
  font-weight: bolder;
  margin: 35px;
  text-align: center;
}

.icons img {
  width: 35px;
}
.icons img p {
  text-align: center;
}

footer p {
  color: #ece2c6;
  text-align: center;
}

.carousel-inner {
  width: 100vw;
}

.carousel-caption {
  position: initial;
  background-color: rgb(78, 86, 94);
  width: 1fr;
}
.carousel-caption p {
  color: #ece2c6;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.carrusel {
  background-color: rgb(78, 86, 94);
}

.carousel-control-next-icon {
  color: #bdf15c;
}

.carousel-control-prev-icon {
  color: #bdf15c;
}

.carousel-item img {
  height: 350px;
  width: 100%;
}

.accordion {
  background-color: darkgray;
  border: 0.5 solid;
}
.accordion .accordion-item {
  background-color: darkgray;
}

.accordion-body a {
  text-decoration: none;
  color: black;
}

.form-label {
  color: #ece2c6;
}

.form-check-label {
  color: #ece2c6;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.show img {
  height: 200px;
  width: 80vw;
  margin: 10px;
}

.show p {
  display: flex;
  text-align: center;
  margin: 16px;
  padding: 20px;
}

.maps iframe {
  height: 400px;
  width: 90%;
}

h2 {
  color: #ece2c6;
  text-align: center;
  font-size: 32px;
  margin: 20px;
}

.grid-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.col-3-home img {
  display: flex;
  align-items: start;
  margin: 30px;
  margin-top: 80px;
}

.col {
  margin: 16px;
  padding: 16px;
  justify-items: center;
}

.grid-container-home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.row-home {
  display: flex;
  flex-direction: row-reverse;
  margin: 20px;
  align-content: stretch;
  justify-content: space-between;
}

.col-5 {
  justify-content: left;
}

.row-items {
  display: flex;
}

.video {
  height: 80%;
  width: 80%;
  align-content: center;
  margin-left: 44px;
  margin-top: 60x;
}

.row-redes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 34px;
}

.col-2 img {
  height: 50px;
  flex-direction: row;
}

.redes {
  text-overflow: ellipsis;
  text-align: justify;
}

#redes img {
  width: 20vw;
  height: 150px;
}

/*# sourceMappingURL=style.css.map */
