@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Orbitron&family=Roboto+Serif:opsz@8..144&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: lightslategray;
}

@media (max-width: 436px) {
  .card {
    background-color: rgb(111, 116, 116);
  }
  .container-fluid {
    width: 80%;
  }
  .video {
    display: none;
  }
  .logo-navbar img {
    display: none;
  }
  p {
    font-size: 100%;
  }
  .logo-container {
    display: block;
  }
  body {
    flex-wrap: wrap;
  }
  .navbar {
    flex-wrap: wrap;
  }
}
@media (min-width: 437px) {
  .card {
    background-color: darkgray;
  }
  .recomendados {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .grid-container {
    flex-wrap: wrap;
  }
}
@media (min-width: 900px) {
  .card {
    background-color: #ece2c6;
  }
}
@media (min-width: 501px) {
  .card-container {
    display: inline-block;
  }
  .recomendados {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media (hover: hover) {
  .button:hover {
    color: gray;
    background-color: #ece2c6;
  }
  .col-1 a {
    background-color: #ece2c6;
  }
}
.button {
  width: 120px;
  border: 1px solid black;
  border-radius: 6px;
  color: black;
  text-align: baseline;
  overflow: hidden;
}
.button .button:hover {
  color: black;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card {
  width: 450px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 16px;
  margin: 16px;
}
.card .card img {
  width: 80px;
  height: 100px;
  display: flex;
  align-items: center;
}
.card .card-body {
  width: 4400px;
  height: 440px;
}
.card .card-text {
  width: 330px;
  height: 330px;
}
.card p {
  width: 35px;
  margin: 20px;
  padding: 8px;
  text-align: justify;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  margin: 16px;
  padding: 16px;
  margin: 16px;
  flex-wrap: wrap;
}

.card-item {
  width: 200px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 16px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-color: lightgray;
}
.card-item img {
  width: 150px;
  height: 150px;
}
.card-item p {
  width: 14px;
  align-items: center;
  justify-content: left;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 1fr;
  padding: 16px;
  margin: 8px;
}
.logo-container .card-img-center img {
  width: 450px, height 350px;
}

.card-item:active {
  position: initial;
  background-color: lightgray;
  display: flex;
  width: 1px;
}

.recomendados {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.recomendados p {
  margin: 0%;
}

.container-fluid {
  background-color: darkgray;
  color: #ece2c6;
  border-radius: 5px;
  border: 1px groove rgb(179, 180, 181);
}
.container-fluid .navbar-toggler {
  background-color: #ece2c6;
}
.container-fluid .navbar-toggler-icon {
  color: rgba(0, 0, 0, 0);
}
.container-fluid .navbar-logo img {
  width: 40px;
  height: 40px;
}
.container-fluid .navbar-logo p {
  color: #ece2c6;
  text-align: center;
  display: inline-block;
  margin: 10px;
  font-weight: bolder;
  text-align: center;
  font-size: 32px;
}

a.nav {
  color: antiquewhite;
  text-decoration: none;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
}

h1 {
  color: #ece2c6;
  font-style: oblique;
  font-size: 45px;
  font-weight: bolder;
  margin: 35px;
  text-align: center;
}

.icons img {
  width: 35px;
}
.icons img p {
  text-align: center;
}

footer p {
  color: #ece2c6;
  text-align: center;
}

.carousel-inner img {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.carousel-caption {
  position: initial;
  background-color: darkgray;
  display: inline-block;
  width: 1fr;
}

.carousel-item {
  height: 100%;
}

.carrusel {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.accordion {
  background-color: darkgray;
  border: 0.5 solid;
}
.accordion .accordion-item {
  background-color: darkgray;
}

.accordion-body a {
  text-decoration: none;
  color: black;
}

.form {
  padding: 16px;
  margin: 16px;
}

.form-label {
  color: #ece2c6;
}

.form-check-label {
  color: #ece2c6;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.show img {
  height: 200px;
  width: 400px;
  margin: 10px;
}

.show p {
  display: flex;
  text-align: center;
  margin: 16px;
  padding: 20px;
}

.maps iframe {
  height: 400px;
  width: 90%;
}

h2 {
  color: #ece2c6;
  text-align: center;
  font-size: 32px;
  margin: 20px;
}

.grid-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
}

.row {
  display: flex;
  flex-direction: row-reverse;
  margin: 34px;
  width: 100%;
  justify-content: start;
}

a img {
  display: flex;
  flex-direction: column;
  height: 100px;
  vertical-align: super;
  margin-top: 35px;
}

.col-3 img {
  height: 250px;
  display: flex;
  align-items: center;
  margin: 30px;
  margin-top: 80px;
}

.col {
  justify-items: center;
}

.grid-container-home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.row-home {
  display: flex;
  flex-direction: row-reverse;
  margin: 20px;
  align-content: stretch;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.col-5 {
  justify-content: left;
}

.row-items {
  display: flex;
}

.video {
  height: 80%;
  width: 80%;
  align-content: center;
  margin-left: 44px;
  margin-top: 60x;
}

.redes {
  display: flex;
  align-content: center;
}
.redes h2 {
  text-align: center;
}

.row-redes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*# sourceMappingURL=style.css.map */
