@media(max-width:436px){
    .card {
     background-color: rgb(111, 116, 116)};
    .container-fluid{
        width: 80%
    } 
    .logo-navbar img {
        display: none};
        p {
        font-size: 100%;
     } 
     .logo-container {
        display: block;
     }
}
@media( min-width:437px){
     .card {
     background-color: darkgray;
     }
     .recomendados{
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
     }
}
@media(min-width:900px){
     .card {
     background-color: #ece2c6;
     
}
}
@media(min-width:501px){
     .card-container {
     display: inline-block;
     }
     .recomendados{
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
     }
}
@media ( hover:hover ){
     .button:hover{
          color: gray;
     background-color:#ece2c6
     }
     .col-1 a{
          background-color:#ece2c6
     }
}
