@media(max-width:536px){
    .card {
     background-color: rgb(111, 116, 116)};
    .container-fluid{
        width: 80%
    };  .video {
     display: none;
};
    .navbar-logo img {
        display: none};
     body{
          flex-wrap: wrap;
     };
     .navbar{
          flex-wrap:wrap;
          flex-direction: row;
          justify-content: space-around;
          width: 374px;
     };
     .carrusel{
          height: 200px;
          .carousel-inner{
               height: 190px;
               width: 100%; .carousel-item{
                    height: 188px;}
                    img{
               height: 190px;
          }
     }
}
}
.grid-container-home{
     flex-direction: column; .row-home{
          flex-direction: column;
     }; .col-4{
          width: 100%;
     }; .col-3-home{
        display: flex;  
     }; .col-5{
          width: 100%;
     }
}
@media(max-width:737px){
     .card {
     background-color: darkgray;
     }
     .recomendados{
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
     } .grid-container{
          flex-wrap: wrap;
     } 
}
@media(max-width:1280px){
     .card {
     background-color: #ece2c6;}
} .grid-container-home{
     flex-direction: row; .row-home{
          flex-direction: row;
     }; .col-4{
          width: 100%;
     }; .col-3-home{
        display: flex;  
     }; .col-5{
          width: 100%;
     }
}

@media(min-width:501px){
     .card-container {
     display: inline-block;
     }
     .recomendados{
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
     }     
}
@media ( hover:hover ){
     .button:hover{
          color: gray;
     background-color:#ece2c6
     }
     .col-1 a{
          background-color:#ece2c6
     }
}
