@media(max-width:836px){
     body {
    background-image:url("../image/fondo.jpg");
    background-position: initial;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}
     .card {
     background-color: rgb(111, 116, 116)};
    .container-fluid{
        width: 100%
    };  .video {
     display: none;
};
     body{
          flex-wrap: wrap;
     };
     .navbar{
          width: 100vw;
     };
     .carrusel{
          height: 200px;
          .carousel-inner{
               height: 190px;
               width: 100%; .carousel-item{
                    height: 188px;}
                    img{
               height: 190px;
          }
     }
};
.carousel-caption{
     display: none;
}
.grid-container-home{
     flex-direction: column; .row-home{
          flex-direction: column;
     }; .col-4-maps {
          width: 100%;
     }; .col-3-home{
        display: block; 
        width: 80vw; 
     }; .col-5-form{
          width: 100%;
     }
}
.recomendados{
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
}
// nosotros
.eventos{
     flex-direction: column;
     flex-wrap: wrap;
     .col-6{
          width: 100%;
     }
     .card-us{
          width: 100%;
     }
     .caption{
          background-color: #ffff;
     }
}
.col-3-us {
     height: 80px;
}
// productos
.container-grid {
     display: flex;
     flex-direction: column;
} #accordion{
     width: 100%;
}
.col-8{
     display: none;
}
#redes {
     .col-6 {
          width: 100%;
          align-items: center;
     }
}
#maps {
     .maps {
          width: 100%;
     }
}
// formulario
.grid-container{
     display: flex;
     flex-wrap: wrap;
}.row-redes{
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
}
.col-img-form {
     width: 100%;

}
.row-home{
     flex-wrap: wrap;
}
#redes-base{
     display: flex;
     flex-direction: column;
}a img {
     flex-direction: column;
     height: 50px;
     margin: 10px;
} 
.col-img-form {
     img {
     height: 150px;
     width: 100%;
}
}
.show {
     img{
          width: 100%;
     }
}
}


@media(max-width:737px){
     .card {
     background-color: darkgray;
     }
}
@media(min-width:837px){
.navbar{
     width: 100vw;
     ; 
     .nav{
          padding: 0 16px;
          align-content: end;
     }
}
}
.carrusel{
     width: 100vw;
     }
     .card {
     background-color: #ece2c6;}
 .grid-container-home{
     flex-direction: row;
      .col-4{
          width: 100%;
     }; .col-3-home{
        display: flex;  
     }; .col-5{
          width: 100%;
     } .row-home{
          display:flex;
          flex-direction: column;
     }
} 
 .grid-container{
     flex-wrap: wrap;
}  .card-container {
     display: inline-block;
     }
.recomendados{
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
}  
#redes-base{
     display: flex;
     flex-direction: row;
     height: 300px;
     img{
          height: 15%;
     }
}
.col-3-home{
     img{
          height: 69px;
     }
}   
#maps {
     .maps {
          width: 100%;
     } 
}
@media( hover ){
     .button:hover{
          color: black;
     background-color:#ece2c6
     }; 
     .nav a :hover{
          color: black;
          background-color: #ece2c6;
     }
     .col-1 a{
          background-color:#ece2c6
     }
}
