*{
    padding: 0;
    margin: 0;
}
body {
    background-color:lightgray
}
@media(max-width:436px){
    .card {
     background-color: rgb(13, 247, 247);
     } 
}
@media( min-width:437px){
     .card {
     background-color: darkgray;
     }
}
@media(min-width:900px){
     .card {
     background-color: #ece2c6;
     
}
}
@media(min-width:501px){
     .card-container {
     display: inline-block;
     }
}
