*{
    padding: 0;
    margin: 0;
}
*{
    overflow-x: hidden;
}
body{
   background-color: rgb(78, 86, 94),;
}
h1 {
    overflow: hidden;
}
h2{
    overflow: hidden;
}
h3{
    overflow: hidden;
}
h4{
    overflow: hidden;
}
h5{
    overflow: hidden;
}
h6{
    overflow: hidden;
}
/* netlify versel hosting para subir la pagina  */