$colores: (
    fondo: lightslategray,
    lightgray:lightgray,
    black: #0000,
    purple: #f15cd1,
    nav: darkgray,
    none:#ece2c6
);
$font-sizes: (
    s: 14px,
    m: 16px,
    l: 24px,
    xl: 32px,
);