$colores: (
    fondo: rgb(78, 86, 94),
    card:lightgray,
    black: #0000,
    alert: #bdf15c,
    nav: darkgray,
    none:#ece2c6
);
$font-sizes: (
    s: 14px,
    m: 16px,
    l: 24px,
    xl: 32px,
);